body{
 background-color: white;
 font-size: 13px;
}
p-dropdown{
  font-size: 13px;
}
input{
  font-size: 13px;
}
img{
    height:300px;;
    max-width:300px;;
}
li{
  color:#607D8B;
  font-weight:600;
}
h3{
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #0C9ED2; 
    font-weight:600;
    margin-left: 10px;
    background-color:transparent;
    margin-left:15px;
    margin-right:5px;
}
.label-required-error {
  color: #d41c4d;
  font-weight: 700;
  font-size: 11px;
}
.input-border-green {
  border-left-color: #0C9ED2 !important;
  border-left-width: medium;
 }

 .input-border-red {
  border-left-color: #d41c4d !important;
  border-left-width: medium;
  border:1px solid  #d41c4d !important
 }
h5{
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color:#607D8B; 
    font-weight:600;
    background-color:transparent;
}
h6{
  font-weight:500;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    // -webkit-box-shadow: 2px 2px 2px -2px#6a6462;
	  //  -moz-box-shadow: 2px 2px 2px -2px #6a6462;
	  //       box-shadow: 2px 2px 2px -2px #6a6462;
    padding: 16px;
    // text-align: center;
    max-width: 98%;
    justify-content: center;
    margin-left:15px;
    margin-right:5px;
    background-color:transparent;
    font-size: 13px;
    max-width: 7014px;
    max-height:4962px;
}
.educationListcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  // -webkit-box-shadow: 2px 2px 2px -2px#6a6462;
  //  -moz-box-shadow: 2px 2px 2px -2px #6a6462;
  //       box-shadow: 2px 2px 2px -2px #6a6462;
  padding: 16px;
  // text-align: center;
  max-width: 96%;
  margin-left: 10px;
  justify-content: center;
  margin-right:5px;
  background-color:transparent;
  font-size: 13px;
  max-width: 7000px;
  max-height:4962px;
}
.resumeCard{
  padding: 16px;
    text-align: center;
    max-width: 98%;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left:15px;
    margin-right:5px;
    background-color:transparent !important;
    font-size: 13px;

}
// .row{
//     justify-items: center;
//     align-content: center;
//     align-items: center;
//     justify-content: center;
// }
textarea{
  font-size: 13px;
  padding: 20px 5px 5px 23px;
}
  body{
    font-family: Arial, Helvetica, sans-serif;
  }
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  * {
    box-sizing: border-box;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
.col{
    justify-items: center;
    align-content: center;
    align-items: center;
}
#appdiv{
    display: flex;
    justify-items: auto;
    justify-content: center;
    align-content: center;
}
span{
    box-shadow: 5px 4px 5px 5px solid black;
}

.p-button-info::active{
    background-color: black;
    color:white;
}
// span{
//     color:#909191;;
//     margin-top:20px;
//     font-weight: 600;
//     font-family: inherit;
//     font-size: 1.5rem;
//     justify-items: center;
//     align-content: center;
//     align-items:center;
//     justify-content: center;
//     text-align:center;
// }
// input[type=date]::-webkit-datetime-edit {
//   color: black;
// }

input[type=date]:focus::-webkit-datetime-edit {
  color: black !important;
}

input[type=date]:required:valid::-webkit-datetime-edit {
  color: black !important;
}

input[type=date]:required:invalid::-webkit-datetime-edit {
  color: black !important;
}

@media screen and (max-width: 40rem) {
  :host ::ng-deep {
      .p-datatable {
          &.p-datatable-responsive-demo {
              .p-datatable-thead > tr > th,
              .p-datatable-tfoot > tr > td {
                  display: none !important;
              }

              .p-datatable-tbody > tr > td {
                  text-align: left;
                  display: block;
                  width: 100%;
                  float: left;
                  clear: left;
                  border: 0 none;

                  .p-column-title {
                      padding: .4rem;
                      min-width: 30%;
                      display: inline-block;
                      margin: -.4em 1em -.4em -.4rem;
                      font-weight: bold;
                  }

                  &:last-child {
                      border-bottom: 1px solid var(--surface-d);
                  }
              }
          }
      }
  }
}

:host ::ng-deep {
  .pRipple{
    font-weight:800;
  }
}
.icon-chip-class{
  font-weight:800;
}





@media screen and (max-width: 960px) {
  button {
      width: 100%;
      margin-bottom: .5rem;
  }
}

:host ::ng-deep {
  .p-toast-message-custom {
      background-color: #E1CFE7;
      border: solid #8A427A;
      border-width: 0 0 0 6px;
      color: #2c1e30;
      .p-toast-icon-close {
          color: #2c1e30;
      }
  }
}

.col-sm-3 ::ng-deep p-calendar .ui-datepicker-trigger .ui-button{
  height:1px;
  background-color:black;
}
.p-calendar .col-sm-3 input{
  height:1px;
}



@keyframes custom-progress-spinner-dash {
  0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
  }
  50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
  }
  100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
  }
}

:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
  animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
}

@keyframes custom-progress-spinner-color {
  100%,
  0% {
      stroke: #16697A;
  }
  40% {
      stroke: #489FB5;
  }
  66% {
      stroke: #82C0CC;
  }
  80%,
  90% {
      stroke: #FFA62B;
  }
}



h6{
  font-weight:500;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    // -webkit-box-shadow: 2px 2px 2px -2px#6a6462;
	  //  -moz-box-shadow: 2px 2px 2px -2px #6a6462;
	  //       box-shadow: 2px 2px 2px -2px #6a6462;
    padding: 16px;
    // text-align: center;
    max-width: 98%;
    justify-content: center;
    margin-left:15px;
    margin-right:5px;
    background-color:transparent;
    font-size: 13px;
    max-width: 7014px;
    max-height:4962px;
}
span{
  font-size:13px;
  text-align: center;
}

.alignleft{
  float: left;
}
.col{
    justify-items: center;
    align-content: center;
    align-items: center;
}
#skillslistsection{
  box-shadow: 2px 4px 4px 2px rgba(5, 5, 5, 0.2);
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  margin-left: 10px;
}
:host ::ng-deep{
  .p-toast{
    width:300px;
    height:auto;
  }
}

:host ::ng-deep{
  .p-chip:focus{
    cursor: pointer;
  }
}
// .messagetoast{
//   width:200px;
//   height:auto;
// }