<div class="logincardcenter">
    <div class="card">
        <div class="row">
            <div class="col" style="color:grey;">
                <h2><b>Portfolio</b></h2>
            </div>
        </div>
         <div class="row">
            <div class="col" style="color:#0C9ED2;">
                <h4><b>Vinay Thodeti</b></h4>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div  class="col">
                <i class="pi pi-phone"></i><span style="color:grey;font-weight: 700;font-size:13px;">
                +91 7032667033</span>
            </div> 
        </div>
         <div class="row" style="margin-top:10px;">
            <div  class="col">
                <i class="pi pi-envelope"></i><span style="color:grey;font-weight: 700;font-size:13px;">
                vinay24.thodeti@gmail.com</span>
            </div> 
        </div>
    </div>
</div>        
