:host ::ng-deep{
    .p-toast{
      width:300px;
      height:auto;
    }
  }


  .label-required-error {
    color: #d41c4d;
    font-weight: 700;
    font-size: 11px;
  }
  .label-successful {
    color: #0C9ED2;;
    font-weight: 700;
    font-size: 11px;
    margin-top:5px;
  }
  .input-border-green {
    border-left-color: #0C9ED2 !important;
    border-left-width: medium;
   }
  
   .input-border-red {
    border-left-color: #d41c4d !important;
    border-left-width: medium;
    border:1px solid  #d41c4d !important
   }

   .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    // -webkit-box-shadow: 2px 2px 2px -2px#6a6462;
	//    -moz-box-shadow: 2px 2px 2px -2px #6a6462;
	//         box-shadow: 2px 2px 2px -2px #6a6462;
    padding: 5% 15% 10% 15%;
    max-width: 100%;
    margin-left:10%;
    margin-right:10%;
    background-color:transparent;
    font-size: 13px;
    max-width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    position: relative;
    top: 50%;
    margin-top:5%;
    margin-bottom:5%;
   justify-self: center;
   display: flex;
}

.verifyMainDiv{
    align-items: center;
    justify-content: center;
    align-content:center;
    display: flex;
}

span{
    color:grey;
    font-weight:500;
}

:host ::ng-deep {
    .p-button {
        width:100%;
        justify-items: center;
        align-items: center; 
        padding-right: 78px;
        padding-left:78px ;
        background: #2196F3;
        font-weight: bolder;
        font-family:"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    }
    .p-button::focus{
        background-color: grey;
    }
}