.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    // -webkit-box-shadow: 2px 2px 2px -2px#6a6462;
	//    -moz-box-shadow: 2px 2px 2px -2px #6a6462;
	//         box-shadow: 2px 2px 2px -2px #6a6462;
    padding: 5% 8% 10% 8%;
    max-width: 100%;
    margin-left:15px;
    margin-right:5px;
    background-color:transparent;
    font-size: 13px;
    max-width: 400px;
    height: auto;
    display: flex;
    align-items: center;
    position: relative;
    top: 50%;
    margin-top:5%;
    margin-bottom:5%;
   justify-self: center;
   display: flex;
}

.logincardcenter{
    align-items: center;
    justify-content: center;
    align-content:center;
    display: flex;
}

:host ::ng-deep{
   .p-tabMenu {
    width:100%;
    font-size-adjust: inherit;
    padding-right: 75px;
    padding-left:75px ;
    background-color: green;
    }
}

.label-required-error {
    color: #d41c4d;
    font-weight: 700;
    font-size: 11px;
  }
  .input-border-green {
    border-left-color: #0C9ED2 !important;
    border-left-width: medium;
   }
  
   .input-border-red {
    border-left-color: #d41c4d !important;
    border-left-width: medium;
    border:1px solid  #d41c4d !important
   }

:host::ng-deep{
    .card[_ngcontent-bpm-c288] {
        max-width:none;
    }
}

:host ::ng-deep {
    .p-button {
        width:100%;
        justify-items: center;
        align-items: center; 
        padding-right: 73px;
        padding-left:73px ;
        background: #2196F3;
    }
}

button{
    width:100%;
    justify-items: center;
    align-items: center; 
    background: #ffffff;
    color: grey;
    border: 1px solid grey;
    font-size: 1rem;
    /* transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s; */
    border-radius: 3px;
    padding:5px 27px 5px 27px;
}
button:hover{
    color:black;
    font-style: bolder;
}

:host ::ng-deep{
    .p-toast{
      width:300px;
      height:auto;
    }
  }



  body{
    background-color: white;
    font-size: 13px;
   }
   p-dropdown{
     font-size: 13px;
   }
   input{
     font-size: 13px;
   }
  

   .label-required-error {
    color: #d41c4d;
    font-weight: 700;
    font-size: 11px;
  }
  .label-successful {
    color: #0C9ED2;;
    font-weight: 700;
    font-size: 11px;
    margin-top:5px;
  }
  .input-border-green {
    border-left-color: #0C9ED2 !important;
    border-left-width: medium;
   }
  
   .input-border-red {
    border-left-color: #d41c4d !important;
    border-left-width: medium;
    border:1px solid  #d41c4d !important
   }

   :host ::ng-deep{
    .p-toast{
      width:300px;
      height:auto;
    }
  }





  @keyframes custom-progress-spinner-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
  }
  
  :host ::ng-deep .custom-spinner .p-progress-spinner-circle {
    animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
  }
  
  @keyframes custom-progress-spinner-color {
    100%,
    0% {
        stroke: #16697A;
    }
    40% {
        stroke: #489FB5;
    }
    66% {
        stroke: #82C0CC;
    }
    80%,
    90% {
        stroke: #FFA62B;
    }
  }